<!DOCTYPE html>
<html lang="pt-br" ng-app="proplus">
<head ng-cloak>
	<meta charset="UTF-8">
	<title>HOME - Proplus English</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/cores.css">
</head>
<body ng-controller="homeCtrl" ng-class="[corFrame1,corFonte1]" ng-cloak>
	<div id="interface">
		<div id="cabecalho">
			<div ng-class="proplusLogo" ng-mouseup="ampliarLogo()" ng-mousedown="reduzirLogo()" ng-cloak>
				PROPLUS ENGLISH
				<!-- <p class="texto-logo">Aprenda inglês com mais praticidade.</p> -->
			</div>
			<div id="menu" ng-class="corFrame2" ng-cloak>
				<button type="button" class="button1" ng-class="[corFrame4,corFonte2]" ng-disabled="visibilidadeTexto" ng-click="exibirTexto()">Consultar</button>
				<button type="button" class="button1" ng-class="[corFrame4,corFonte2]" ng-disabled="visibilidadePalavras" ng-click="exibirPalavras()">Palavras</button>
				<button type="button" class="button1" ng-class="[corFrame4,corFonte2]" ng-click="novoTexto(true)">Novo</button>
				<a href="../../index.html" class="botao-cor link1" ng-class="[corFrame4,corFonte2]"><<</a>
				<div id="div-cores">
					<button type="button" class="botao-cor cor-padrao1" ng-click="corPadrao()"></button>
					<button type="button" class="botao-cor cor-suave2" ng-click="corSuave()"></button>
					<button type="button" class="botao-cor cor-quente2" ng-click="corQuente()"></button>
				</div>
			</div>
		</div>

		<div id="pesquisa-texto" ng-class="corFrame2" ng-show="visibilidadeTexto" ng-cloak>
			<div id="menu-texto" ng-class="corFrame3">
				<input type="text" class="input-padrao" ng-class="corFrame6" ng-focus="limparSearchText()" ng-model="searchText" placeholder="Search">
				<select id="selecao-texto" ng-class="corFrame7" ng-model="searchType" ng-options="opcao.tipo for opcao in opcaoTexto">
						<option value="">Selecione uma opção</option>
					</select>
				<button type="button" class="button1" ng-class="corFrame4" ng-click="exibirTexto()">Fechar</button>
				<button type="button" class="btnOnlyButton" ng-class="corFrame4" ng-click="btnOnlyWordsFn()">{{valueBtnOnlyWords}}</button>
			</div>
			<div id="conteudo-pesquisa">
				<a href="#" class="link3" ng-class="corFonte2" ng-repeat="texto in textos | filter:searchType.tipo | filter:searchText | orderBy:'titulo'">
					<p class="selecao" ng-class="corFrame8" ng-click="openText(texto)">{{texto.titulo | uppercase}} (<span class="form-data">{{texto.createAt | date:'dd/MM/yyyy'}}</span> :: <span class="form-data">{{texto.modifiedAt | date:'dd/MM/yyyy'}}</span>)</p>
				</a>
			</div>
		</div>

		<div id="pesquisa-palavras" ng-class="corFrame2" ng-show="visibilidadePalavras" ng-cloak>
			<form name="palavraForm">
				<div id="radio-palavra" ng-class="[corFrame3,corFonte4]">
					<label for="palavra">
						<input type="radio" id="palavra" name="palavra" ng-required="true" ng-model="wordEnter.tipo" value="
					Palavra">Palavra</label>
					<label for="expressao">
						<input type="radio" id="expressao" name="expressao" ng-required="true" ng-model="wordEnter.tipo" value="
					Expressão">Expressao</label>
					<label for="frase">
						<input type="radio" id="frase" name="frase" ng-required="true" ng-model="wordEnter.tipo" value="
					Frase">Frase</label>
				</div>
				<div>
					<textarea class="textarea1 form-palavras" ng-class="[corFrame5,corFonte3]" ng-required="true" ng-value="wordEnter.nome" ng-model="wordEnter.nome" name="" id="" cols="30" rows="10"></textarea>
					<textarea class="textarea1 form-palavras" ng-class="[corFrame5,corFonte3]" ng-required="true" ng-value="wordEnter.traducao" ng-model="wordEnter.traducao" name="" id="" cols="30" rows="10"></textarea>
				</div>
				<div id="menu-palavras" ng-class="corFrame3">
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="palavraForm.$invalid" ng-click="saveWord(wordEnter)">Salvar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="palavraForm.$invalid || !wordEnter._id" ng-click="alterarPalavra(wordEnter)">Alterar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="palavraForm.$invalid || !wordEnter._id" ng-click="removeWord(wordEnter._id)">Apagar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-click="newWord()">Limpar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-click="exibirPalavras()">Fechar</button>
				</div>
			</form>

			<div id="radio-palavra-infer" ng-class="[corFrame3,corFonte4]">
				<label for="palavra-infer">
					<input type="radio" id="palavra-infer" ng-model="typeGroup" value="
				Palavra">Palavra</label>
				<label for="expressao-infer">
					<input type="radio" id="expressao-infer" ng-model="typeGroup" value="
				Expressão">Expressao</label>
				<label for="frase-infer">
					<input type="radio" id="frase-infer" ng-model="typeGroup" value="
				Frase">Frase</label>
			</div>
			<input type="text" class="input-padrao input-palavras" ng-focus="limparWordEnter()" ng-class="corFrame6" ng-model="searchWord" placeholder="Search">

			<a href="#" class="link3" ng-class="corFonte2" ng-repeat="palavra in palavras | filter:searchWord | filter:typeGroup | orderBy:'nome' | limitTo:200">
				 <p class="selecao p-palavras" ng-class="corFrame8" href="" ng-click="buscarUmaPalavra(palavra)">{{palavra.nome | uppercase}}</p>
			</a>
		</div>

		<div id="principal" ng-class="corFrame2" ng-show="framePrincipal" ng-cloak>
			<form name="principalForm">
				<div id="menu-texto-dois" ng-class="[corFrame3,corAlertaAlteracao]">
					<input id="titulo-texto" type="text" ng-class="corFrame6" ng-model="dadosTexto.titulo" keydown="verificarAlteracoes(dadosTexto)" ng-keyup="verificarAlteracoes(dadosTexto)" ng-required="true" placeholder="Título">

					<label class="radio-texto" ng-class="corFrame7" for="musica-texto">
					<input type="radio" id="musica-texto" ng-model="dadosTexto.tipo" ng-required="true" value="Música">Música</label>
					<label class="radio-texto" ng-class="corFrame7" for="artigo-texto">
					<input type="radio" id="artigo-texto" ng-model="dadosTexto.tipo" ng-required="true" value="Artigo">Artigo</label>
					{{$scope.corAlertaAlteracao}}
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="principalForm.$invalid" ng-click="saveText(dadosTexto)">Salvar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="isValidButton" ng-click="alterarText(dadosTexto)">Alterar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-disabled="isValidButton" ng-click="exibirOcultarOptionDelete(true)">Apagar</button>
					<button type="button" class="button1" ng-class="corFrame4" ng-click="exibirTexto()">Pesquisar</button>
					<button type="button" class="button-janela" ng-class="corFrame4" ng-disabled="isValidButton || valorJanelaUnica" ng-click="exibirOcultarJanelaUnica(true,dadosTexto.texto)">Janela</button>
				</div>
				<textarea class="textarea1 principal-textarea" ng-class="[corFrame5,corFonte3]" ng-keyup="verificarAlteracoes(dadosTexto)" ng-keydown="verificarAlteracoes(dadosTexto)" ng-required="true" font-cor-padrao3  name="texto" id="texto" cols="30" rows="10" ng-model="dadosTexto.texto"></textarea>
				<textarea class="textarea1 principal-textarea" ng-class="[corFrame5,corFonte3]" ng-mousedown="ocultarExibirSearch(false)" ng-keyup="verificarAlteracoes(dadosTexto)" ng-keydown="verificarAlteracoes(dadosTexto)" ng-required="true" font-cor-padrao3  name="traducao" id="traducao" cols="30" rows="10" ng-model="dadosTexto.traducao"></textarea>
				<div class="anotacao" ng-class="corFrame2" ng-show="isVisibleAnotation">
					<textarea name="anotacao" cols="10" rows="5" class="anotacao-area" ng-class="[corFrame5,corFonte3]" ng-model="dadosTexto.anotacao" ng-keyup="verificarAlteracoes(dadosTexto)" ng-keydown="verificarAlteracoes(dadosTexto)"></textarea>
				</div>
				<button class="botao-anotacao" ng-class="corFrame4" type="button" ng-click="exibirOcultarAnotacao()">Anotação</button>
			</form>
		</div>

		<div id="janela-unica" ng-class="corFrame2" ng-show="valorJanelaUnica" ng-cloak>
			<div id="botao-janela-unica">
				<button type="button" ng-class="corFrame4" ng-disabled="isVisibleTextarea" ng-click="separarTextos(textTranslation)">Mover</button>
				<button type="button" ng-class="corFrame4" ng-click="getTextBD(dadosTexto.titulo)">{{valueButtonMix}}</button>
				<button type="button" ng-class="corFrame4" ng-click="exibirOcultarJanelaUnica(false,undefined)">Fechar</button>
			</div>
			<textarea class="textarea1" ng-class="corFrame5" ng-show="isVisibleTextarea" ng-value="janelaUnica" cols="30" rows="10"></textarea>
			<textarea class="textarea1" ng-class="corFrame5" ng-show="!isVisibleTextarea" ng-model="textTranslation" cols="30" rows="10"></textarea>
		</div>

		<div id="simples-salve" ng-class="corFrame2" ng-show="isVisibleSimple" ng-cloak>
			<div>
				<form name="simplesForm">
					<input type="text" class="sim-input" ng-class="corFrame6" ng-model="simpleWord.nome" ng-required="true" placeholder="Word">
					<input type="text" class="sim-input" ng-class="corFrame6" ng-model="simpleWord.traducao" ng-required="true" placeholder="Translation">
					<button type="button" class="sim-botao-salvar sim-botao-efeito" data-ng-disabled="simplesForm.$invalid" ng-class="corFrame4" ng-click="saveWordSimple(simpleWord,dadosTexto.titulo)">Salvar</button>
				</form>
			</div>
		</div>

		<div ng-class="[framePosition,corFrame2]" ng-show="isVisibleSearch" ng-cloak>
			<textarea class="textarea1 font-cor-padrao3" ng-class="[textareaPosition,corFrame5]" ng-value="seaOnlyWord" cols="30" rows="10"></textarea><br/>
			<input type="text" ng-focus="limparSeaWord()" ng-class="[inputPosition,corFrame6]" ng-model="seaWord" placeholder="Search">
			<a href="" id="sea-word" ng-click="seaOneWord(palavra.traducao)" ng-repeat="palavra in palavras | filter:seaWord | filter:'Palavra' | filter:simpleWord.nome | orderBy:'nome' | limitTo:valueLimitTo">
				<p id="sea-word-p" ng-class="[corFrame8,corFonte3]">{{palavra.nome}}</p>
			</a>
		</div>

		<div id="confirmacao" ng-class="corFrame2" ng-show="isVisibleOptionDelete">
			<p>Deseja remover este texto?</p>
			<p>### {{dadosTexto.titulo}} ###</p>
			<button type="button" class="option-button" ng-class="corFrame4" ng-click="removeText(dadosTexto._id)">Sim</button>
			<button type="button" class="option-button" ng-class="corFrame4" ng-click="exibirOcultarOptionDelete(false)" >Não</button>
		</div>

		<button type="button" class="sim-botao-exibir sim-botao-efeito" ng-show="buttonSimpleVisible" ng-click="ocultarExibirSimples()" ng-class="corFrame4" ng-cloak>{{valueButton}}</button>

		<button type="button" class="sea-botao-exibir sim-botao-efeito" ng-show="buttonSearchVisible" ng-class="corFrame4" ng-click="ocultarExibirSearch(true)" ng-cloak>{{valueButtonSearch}}</button>

		<button type="button" class="sea-botao-enable sim-botao-efeito" ng-class="corEspecial" ng-show="isVisibleSearch" ng-click="changeSearch()" ng-cloak></button>

		<button type="button" class="sea-botao-modified sim-botao-efeito" ng-class="corFrame4" ng-show="isVisibleSearch" ng-click="modifiedWindowSearch()" ng-cloak></button>

		<div id="rodape" ng-class="corFrame2">Alexsandro Façanha - asfsteel2012@gmail.com </div>
	</div>	

	<script src="../lib/angular/angular.min.js"></script>
	<script src="../lib/angular-route/angular-route.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/config/config.js"></script>
	<script src="../js/controllers/homeCtrl.js"></script>
	<script src="../js/services/httpAPIServices.js"></script>
	<script src="../js/services/breakTextFactory.js"></script>
	<script src="../js/services/joinTextsService.js"></script>
</body>
</html>