body{
	padding: 0px;
	margin: 0px;
	background-color: rgba(38, 38, 38, 0.8);
}

.btn-voltar{ 
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #ccc;
	cursor: pointer;
	transition: color 0.6s;
}

.btn-voltar:hover{
	color: #fff;
}

/* Div cadastro */
div#cadastro{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div#cadastro input{
	width: 280px;
	height: 30px;
	font-weight: bold;
	font-size: 24px;
	border: 0px;
	border-radius: 3px;
	margin: 5px;
	text-align: center;
}	

div#cadastro button{
	cursor: pointer;
	width: 280px;
	height: 30px;
	font-weight: bold;
	font-size: 24px;
	border:0px;
	margin: 5px;
	background-color: rgba(110, 125, 255, 0.4);
	transition: background-color 0.6s;
}

div#cadastro button:hover{
	background-color: rgba(38, 38, 38, 1);
}

.lista-verbos{
	color: #ccc;
	padding: 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.6s;
}

.lista-verbos:hover{
	color: #fff;
}

/* Principal */

div#principal span{
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

div#principal input{
	width: 220px;
	height: 40px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: rgba(38, 38, 38, 1);
	color: #fff;
}

div#principal button{
	width: 60px;
	height: 30px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	cursor: pointer;
	background-color: rgba(38, 38, 38, 0.8);
	// color: #ccc;
	transintion: background-color 0.6s, color 0.6s;
}

div#principal button:hover{
	background-color: rgba(138, 138, 138, 0.8);
	color: #000;
};

// table{
// 	width: 880px;
// 	height: 50px;
// 	border: 13px solid black;
// }

.pontos{
	margin-top: 20px;
	width: 80px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: 2px; solid #000;
}

.textos{
	width: 220px;
	height: 40px;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(0, 152, 0, 1);
}